/* @tailwind base; */
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #1f1f2e;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #29293d;
}
::-webkit-scrollbar-thumb:active {
    background: #34344c;
}
::-webkit-scrollbar-track {
    background: #11111a;
    border: 2px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: #11111a;
}
::-webkit-scrollbar-track:active {
    background: #11111a;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

html:focus-within {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:not(ul):not(ol) {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    font-family: Inter, system-ui, -apple-system, sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    background-color: #0a0a0f;
    color: #e5e5e5;
}

#__next {
    min-height: 100vh;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

blockquote,
q {
    quotes: '„' '“' '‚' '‘';
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
textarea,
button,
select {
    font: inherit;
    border-style: solid;
}

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.gradient {
    background: linear-gradient(45deg, #f9a8d4, #6ee7b7);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ProseMirror {
    padding: 1rem;
    outline: 0;
    border: 1px solid rgb(67 67 102);
    border-top: 0;
    border-radius: 0 0 0.375rem 0.375rem;
    color: rgb(238, 238, 238);
}

/* .ProseMirror pre,
.ProseMirror code {
    background-color: rgb(22, 22, 30);
    font: inherit;
    font-family: Consolas;
} */

.editor-controls button {
    border: none;
    color: white;
    padding-bottom: 0.2rem;
}

button {
    background: none;
}

button.is-active {
    border-bottom: 2px solid #6ee7b7;
}

button[disabled] {
    color: rgba(238, 238, 238, 0.2);
}

@layer components {
    .btn {
        @apply border border-primary-900 bg-neutral-200 text-primary-900 font-bold py-1 px-4;
    }
}
